@import 'tailwindcss';

@layer theme {
  :root {
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(9% 0 0);

    --color-card: oklch(100% 0 0);
    --color-card-foreground: oklch(9% 0 0);

    --color-primary: oklch(11% 0 0);
    --color-primary-foreground: oklch(98% 0 0);

    --color-secondary: oklch(96% 0 0);
    --color-secondary-foreground: oklch(11% 0 0);

    --color-muted: oklch(96% 0 0);
    --color-muted-foreground: oklch(47% 0 0);

    --color-accent: oklch(96% 0 0);
    --color-accent-foreground: oklch(11% 0 0);

    --color-destructive: oklch(60% 0.2 0);
    --color-destructive-foreground: oklch(98% 0 0);

    --color-border: oklch(91% 0 0);
    --color-input: oklch(91% 0 0);
    --color-ring: oklch(5% 0 0);

    --radius: 0.5rem;
  }

  .dark {
    --color-background: oklch(9% 0 0);
    --color-foreground: oklch(98% 0 0);

    --color-card: oklch(9% 0 0);
    --color-card-foreground: oklch(98% 0 0);

    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(11% 0 0);

    --color-secondary: oklch(18% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);

    --color-muted: oklch(18% 0 0);
    --color-muted-foreground: oklch(65% 0 0);

    --color-accent: oklch(18% 0 0);
    --color-accent-foreground: oklch(98% 0 0);

    --color-destructive: oklch(31% 0.2 0);
    --color-destructive-foreground: oklch(98% 0 0);

    --color-border: oklch(18% 0 0);
    --color-input: oklch(18% 0 0);
    --color-ring: oklch(84% 0 0);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings:
      'rlig'1,
      'calt'1;
  }
}