@import 'tailwindcss';


/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
} 

::view-transition-old(root) {
  animation: fade-out 1s ease-out;
}

::view-transition-new(root) {
  animation: fade-in 1s ease-in;
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
}  */

/* ::view-transition-old(root) {
  animation: slide-out-left 0.3s ease-out;
}

::view-transition-new(root) {
  animation: slide-in-right 0.3s ease-in;
}

@keyframes slide-out-left {
  to { transform: translate(50px, 50px); opacity: 0; }
}

@keyframes slide-in-right {
  from { transform: translate(-50px, -50px); opacity: 0; }
}  */

/* Анимация исчезновения старой страницы */
/* ::view-transition-old(main) {
  animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out,
             500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
} */

/* Анимация появления новой страницы */
/* ::view-transition-new(main) {
  animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in,
             500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

/* Определяем сами анимации */
/* @keyframes fade-in { from { opacity: 0; } }
@keyframes fade-out { to { opacity: 0; } }
@keyframes slide-from-right { from { transform: translateX(30px); } }
@keyframes slide-to-left { to { transform: translateX(-30px); } } */

 /* ::view-transition-old(main) {
  animation: slide-out-left 0.3s ease-out;
}

::view-transition-new(main) {
  animation: slide-in-right 0.3s ease-in;
} */
/* 
@keyframes slide-out-left {
  to { transform: translateX(-30px); opacity: 0; }
}

@keyframes slide-in-right {
  from { transform: translateX(30px); opacity: 0; }
}   */

/* @keyframes fade-in { from { opacity: 0; } }
@keyframes fade-out { to { opacity: 0; } }
@keyframes slide-from-right { from { transform: scale(0.75); } }
@keyframes slide-to-left { to { transform:  scale(1.25); } } */

/* .site-logo {
  view-transition-name: logo-transition;
} */

@theme {
  /* Цвета через CSS переменные */
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);
  
}

/* Dark mode variant */
@variant dark (&:is(.dark *));

@layer base {
  :root {
    --color-background: #f0fdfa;
    --color-foreground: oklch(9% 0 0);

    --color-card: #fafaf9;
    --color-card-foreground: oklch(9% 0 0);

    --color-popover: #ffffff;
    --color-popover-foreground: oklch(9% 0 0);

    --color-primary: oklch(11% 0 0);
    --color-primary-foreground: oklch(98% 0 0);

    --color-secondary: oklch(96% 0 0);
    --color-secondary-foreground: oklch(11% 0 0);

    --color-muted: #f8fafc;
    --color-muted-foreground: oklch(47% 0 0);

    --color-accent: oklch(96% 0 0);
    --color-accent-foreground: oklch(11% 0 0);

    --color-destructive: oklch(60% 0.2 0);
    --color-destructive-foreground: oklch(98% 0 0);

    --color-border: oklch(91% 0 0);
    --color-input: oklch(91% 0 0);
    --color-ring: #009689;

    --radius: 0.5rem;
    
  }

  .dark {
    --color-background: #071a15;
    --color-foreground: oklch(98% 0 0);

    --color-card: oklch(23.392% 0.04142 184.111);
    --color-card-foreground: oklch(98% 0 0);

    --color-popover: oklch(14% 0 0);
    --color-popover-foreground: oklch(98% 0 0);

    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(11% 0 0);

    --color-secondary: oklch(18% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);

    --color-muted: oklch(20% 0 0);
    --color-muted-foreground: oklch(65% 0 0);

    --color-accent: oklch(29.815% 0.04769 184.093 / 0.8);
    --color-accent-foreground: oklch(98% 0 0);

    --color-destructive: oklch(60% 0.2 0);
    --color-destructive-foreground: oklch(98% 0 0);

    --color-border: oklch(19.125% 0.00002 271.152);
    --color-input: oklch(0% 0 0);
    --color-ring: #009689;
  }

  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings:
      'rlig'1,
      'calt'1;
  }


}

.cut-corners {
  --cut-size: 25px;

  clip-path: polygon(0 0,
      /* Top-left (не трогаем) */
      calc(100% - var(--cut-size)) 0,
      /* Top-right (начало среза) */
      100% var(--cut-size),
      /* Top-right (конец среза) */
      100% 100%,
      /* Bottom-right (не трогаем) */
      var(--cut-size) 100%,
      /* Bottom-left (начало среза) */
      0 calc(100% - var(--cut-size))
      /* Bottom-left (конец среза) */
    );
}